body{
    background-color: #f5f5dd;;
}
div{
    width: 200px;
    height: 200px;
    
}
#kwadrat1{
    background-color: rgba(0,0,0,0.1);
    margin-bottom: 5px;
}
#kwadrat2{
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 5px;
}
#kwadrat3{
    background-color: rgba(0,0,0,0.7);
    margin-bottom: 5px;
}
#kwadrat4{
    background-color: rgba(0,0,0,1);
    margin-bottom: 5px;
}